
.hero {
  background-color: #0d1117;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  padding: 0px; 
}


.hero-text-container {
  text-align: center;
  padding: 80px 20px 40px 20px; 
}

.hero-logo-main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px; 
  font-size: 48px;
  margin-bottom: 10px;
}

.trend-icon {
  font-size: 64px;
  color: #2f80ed;
}

.hero-subtitle {
  color: #8b949e;
  font-size: 24px;
  margin-bottom: 30px;
}

.hero-cta {
  background-color: #2f80ed;
  color: white;
  border: none;
  padding: 15px 40px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 20px;
}


.hero-full-width-image {
  width: 100%;
}

.full-screen-img {
  width: 100%; 
  height: auto;
  display: block; 
}