.spacer {
    display: flex;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.card {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #161b22;
    border: 1px solid #21262d;
    border-radius: 12px;
    padding: 15px 20px;
    margin: 10px;
    color: white;
    flex: 1;
    gap: 15px;
}

.icon {
    background-color: #0d111775;
    padding: 10px;
    border-radius: 8px;
    font-size: 20px;
}

.text {
    display: flex;
    flex-direction: column;
}

.text h3 {
    margin-bottom: 4px;
    font-size: 16px;
    color: #8b949e;
}

.text p {
    margin: 0;
    font-size: 26px;
    font-weight: bold;
}
.green{
    border: none;
}
.red{
    border: none;
}